
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=-

DATABASE_URL="mysql://---:----@localhost:3306/cafe-admin"

DATABASE_USER="---"
DATABASE_PASSWORD="---"
DATABASE_NAME="----"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

