
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=-
NODE_ENV=production

DATABASE_URL="mysql://---:----@localhost:3306/cafe-admin"

IMAGE_CDN_URL=https://cdn.dev.accolaplay.id/kafe/category
IMAGE_STORAGE_PATH=c:/projest/img/img-cafe

REDIS_URL="redis://localhost:6379"
