
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=-
NODE_ENV=production

DATABASE_URL="mysql://---:----@localhost:3306/cafe-admin"

NEXT_PUBLIC_IMAGE_SERVER_URL=/api/images
IMAGE_STORAGE_PATH=c:/projest/img/img-cafe

REDIS_URL="redis://localhost:6379"
